[tool.poetry]
name = "llm-code-context"
version = "0.0.5"
description = "A tool to help with copying and pasting code context into LLM chats"
authors = ["restlessronin <88921269+restlessronin@users.noreply.github.com>"]
readme = "README.md"
packages = [{ include = "llm_code_context", from = "src" }]
include = ["src/llm_code_context/templates/*.j2"]
repository = "https://github.com/cyberchitta/llm-code-context.py"
license = "Apache-2.0"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.12",
]

[tool.poetry.dependencies]
python = "^3.12"
jinja2 = "^3.1.4"
pathspec = "^0.12.1"
platformdirs = "^4.2.2"
pyperclip = "^1.9.0"

[tool.poetry.group.dev.dependencies]
black = "^24.8.0"
isort = "^5.13.2"
pytest = "^8.3.2"

[tool.poetry.scripts]
lcc-dirtree = "llm_code_context.folder_structure_diagram:main"
lcc-genfiles = "llm_code_context.context_generator:main"
lcc-select = "llm_code_context.file_selector:main"

[tool.pytest.ini_options]
testpaths = ["tests"]
pythonpath = ["src"]

[tool.black]
line-length = 100
target-version = ['py312']

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"