{% if prompt %}
{{ prompt }}
{% endif %}
{% if project_notes %}
{{ project_notes }}
{% endif %}
{% if user_notes %}
{{ user_notes }}
{% endif %}
# Repository Content: **{{ project_name }}**

{% if sample_requested_files %}
## File Access Instructions

Missing/incomplete files (marked "✗" or "○" in the repository structure) can be retrieved using the get_files tool.
{% endif %}

## Repository Structure

```
{{ folder_structure_diagram }}
```

{% if files %}
## Current Files

{% include 'lc-files.j2' %}
{% endif %}

{% if highlights %}
## Code Outlines

{% include 'lc-highlights.j2' %}
{% endif %}
